<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>订单详情</key>
	<array>
		<string>订单详情</string>
		<string>OrderDetail</string>
		<string>訂單詳情</string>
	</array>
	<key>选择结束时间</key>
	<array>
		<string>选择结束时间</string>
		<string>pickEndTime</string>
		<string>選擇結束時間</string>
	</array>
	<key>结束时间</key>
	<array>
		<string>结束时间</string>
		<string>endTime</string>
		<string>結束時間</string>
	</array>
	<key>选择开始时间</key>
	<array>
		<string>选择开始时间</string>
		<string>选择开始时间</string>
		<string>選擇開始時間</string>
	</array>
	<key>开始时间</key>
	<array>
		<string>开始时间</string>
		<string>开始时间</string>
		<string>開始時間</string>
	</array>
	<key>选择星期</key>
	<array>
		<string>选择星期</string>
		<string>选择星期</string>
		<string>選擇星期</string>
	</array>
	<key>教学经验</key>
	<array>
		<string>教学经验</string>
		<string>教学经验</string>
		<string>教學經驗</string>
	</array>
	<key>个人资料</key>
	<array>
		<string>个人资料</string>
		<string>个人资料</string>
		<string>個人資料</string>
	</array>
	<key>尚未登录</key>
	<array>
		<string>尚未登录</string>
		<string>尚未登录</string>
		<string>尚未登錄</string>
	</array>
	<key>设定</key>
	<array>
		<string>设定</string>
		<string>设定</string>
		<string>設定</string>
	</array>
	<key>付款设定</key>
	<array>
		<string>付款设定</string>
		<string>付款设定</string>
		<string>付款設定</string>
	</array>
	<key>帐户设定</key>
	<array>
		<string>帐户设定</string>
		<string>帐户设定</string>
		<string>帳戶設定</string>
	</array>
	<key>课程搜寻</key>
	<array>
		<string>课程搜寻</string>
		<string>课程搜寻</string>
		<string>課程搜尋</string>
	</array>
	<key>推荐导师</key>
	<array>
		<string>推荐导师</string>
		<string>推荐导师</string>
		<string>推薦導師</string>
	</array>
	<key>您好同学您尚未有任何课程预约</key>
	<array>
		<string>您好，同学您尚未有任何课程预约。</string>
		<string>您好，同学您尚未有任何课程预约。</string>
		<string>您好，同學您尚未有任何課程預約。</string>
	</array>
	<key>您好您尚未注册请先登录注册</key>
	<array>
		<string>您好. 您尚未注册,请先登录注册..</string>
		<string>您好. 您尚未注册,请先登录注册..</string>
		<string>您好. 您尚未登錄,請先登錄註冊..</string>
	</array>
	<key>请输入6-12密码</key>
	<array>
		<string>请输入6-12密码</string>
		<string>请输入6-12密码</string>
		<string>請輸入6-12密碼</string>
	</array>
	<key>输入新密码</key>
	<array>
		<string>输入新密码</string>
		<string>输入新密码</string>
		<string>輸入新密碼</string>
	</array>
	<key>输入手机号码</key>
	<array>
		<string>输入手机号码</string>
		<string>输入手机号码</string>
		<string>輸入手機號碼</string>
	</array>
	<key>请选择年级</key>
	<array>
		<string>请选择年级</string>
		<string>请选择年级</string>
		<string>請選擇年級</string>
	</array>
	<key>我愿意接受有关悦教育的最新的资讯或推荐</key>
	<array>
		<string>我愿意接受有关悦教育的最新的资讯或推荐</string>
		<string>我愿意接受有关悦教育的最新的资讯或推荐</string>
		<string>我願意接受有關悅教育的最新的資訊或推薦</string>
	</array>
	<key>请选择您的身份</key>
	<array>
		<string>请选择您的身份</string>
		<string>请选择您的身份</string>
		<string>請選擇您的身份</string>
	</array>
	<key>教师列表</key>
	<array>
		<string>教师列表</string>
		<string>教师列表</string>
		<string>教師列表</string>
	</array>
	<key>请选择课程</key>
	<array>
		<string>请选择课程</string>
		<string>请选择课程</string>
		<string>請選擇課程</string>
	</array>
	<key>最佳推荐</key>
	<array>
		<string>  最佳推荐</string>
		<string>  最佳推荐</string>
		<string>  最佳推薦</string>
	</array>
	<key>更多推荐</key>
	<array>
		<string>  更多推荐</string>
		<string>  更多推荐</string>
		<string>  更多推薦</string>
	</array>
	<key>请选择时间</key>
	<array>
		<string>请选择时间</string>
		<string>请选择时间</string>
		<string>請選擇時間</string>
	</array>
	<key>可授课课程</key>
	<array>
		<string>可授课课程</string>
		<string>可授课课程</string>
		<string>可授課課程</string>
	</array>
	<key>可预约状态</key>
	<array>
		<string>可预约状态</string>
		<string>可预约状态</string>
		<string>可預約狀態</string>
	</array>
	<key>教师简历</key>
	<array>
		<string>教师简历</string>
		<string>教师简历</string>
		<string>教師簡歷</string>
	</array>
	<key>近期课程</key>
	<array>
		<string>近期课程</string>
		<string>近期课程</string>
		<string>近期課程</string>
	</array>
	<key>出生日期</key>
	<array>
		<string>出生日期</string>
		<string>出生日期</string>
		<string>出生日期</string>
	</array>
	<key>facebook</key>
	<array>
		<string>facebook</string>
		<string>facebook</string>
		<string>facebook</string>
	</array>
	<key>匿稱</key>
	<array>
		<string>别名</string>
		<string>别名</string>
		<string>匿稱</string>
	</array>
	<key>性别</key>
	<array>
		<string>性别</string>
		<string>性别</string>
		<string>性别</string>
	</array>
	<key>分享至facebook</key>
	<array>
		<string>分享至facebook</string>
		<string>分享至facebook</string>
		<string>分享至facebook</string>
	</array>
	<key>确定</key>
	<array>
		<string>确定</string>
		<string>确定</string>
		<string>確定</string>
	</array>
	<key>联系客服</key>
	<array>
		<string>联系客服</string>
		<string>联系客服</string>
		<string>聯繫客服</string>
	</array>
	<key>发表评价</key>
	<array>
		<string>发表评价</string>
		<string>发表评价</string>
		<string>發表評價</string>
	</array>
	<key>已评价</key>
	<array>
		<string>已评价</string>
		<string>已评价</string>
		<string>已評價</string>
	</array>
	<key>评价</key>
	<array>
		<string>评价</string>
		<string>评价</string>
		<string>評價</string>
	</array>
	<key>添加教学时间</key>
	<array>
		<string>添加教学时间</string>
		<string>添加教学时间</string>
		<string>添加教學時間</string>
	</array>
	<key>收藏</key>
	<array>
		<string>收藏</string>
		<string>收藏</string>
		<string>收藏</string>
	</array>
	<key>教学时间</key>
	<array>
		<string>教学时间</string>
		<string>教学时间</string>
		<string>教學時間</string>
	</array>
	<key>有无</key>
	<array>
		<string>有/无</string>
		<string>有/无</string>
		<string>有/無</string>
	</array>
	<key>输入你最擅长的科目</key>
	<array>
		<string>输入你最擅长的科目</string>
		<string>输入你最擅长的科目</string>
		<string>輸入你最擅長的科目</string>
	</array>
	<key>请选择可任教科目</key>
	<array>
		<string>请选择可任教科目</string>
		<string>请选择可任教科目</string>
		<string>請選擇可任教科目</string>
	</array>
	<key>请选择语言</key>
	<array>
		<string>请选择语言</string>
		<string>请选择语言</string>
		<string>請選擇語言</string>
	</array>
	<key>学生证选填</key>
	<array>
		<string>学生证（选填）</string>
		<string>学生证（选填）</string>
		<string>學生證（選填）</string>
	</array>
	<key>请输入信仰</key>
	<array>
		<string>请输入信仰</string>
		<string>请输入信仰</string>
		<string>請輸入信仰</string>
	</array>
	<key>请输入年级</key>
	<array>
		<string>请输入年级</string>
		<string>请输入年级</string>
		<string>請輸入年級</string>
	</array>
	<key>请输入学校名称</key>
	<array>
		<string>请输入学校名称</string>
		<string>请输入学校名称</string>
		<string>請輸入學校名稱</string>
	</array>
	<key>请输入手机号码</key>
	<array>
		<string>请输入手机号码</string>
		<string>请输入手机号码</string>
		<string>請輸入手機號碼</string>
	</array>
	<key>请输入账号名</key>
	<array>
		<string>请输入账号名</string>
		<string>请输入账号名</string>
		<string>請輸入帳號名</string>
	</array>
	<key>请输入您的常用邮箱地址</key>
	<array>
		<string>请输入您的常用邮箱地址</string>
		<string>请输入您的常用邮箱地址</string>
		<string>請輸入您的常用電郵地址</string>
	</array>
	<key>请填写x位数身份证号码</key>
	<array>
		<string>请填写x位数身份证号码</string>
		<string>请填写x位数身份证号码</string>
		<string>請填寫x位數身份證號碼</string>
	</array>
	<key>详细地址</key>
	<array>
		<string>详细地址</string>
		<string>详细地址</string>
		<string>詳細地址</string>
	</array>
	<key>选择区</key>
	<array>
		<string>选择区</string>
		<string>选择区</string>
		<string>選擇區</string>
	</array>
	<key>您的真实年龄</key>
	<array>
		<string>您的真实年龄</string>
		<string>您的真实年龄</string>
		<string>您的真實年齡</string>
	</array>
	<key>请选择您的出生</key>
	<array>
		<string>请选择您的出生</string>
		<string>请选择您的出生</string>
		<string>請選擇您的出生</string>
	</array>
	<key>请选择您的性别</key>
	<array>
		<string>请选择您的性别</string>
		<string>請選擇您的性別</string>
		<string>請選擇您的性別</string>
	</array>
	<key>犯罪记录</key>
	<array>
		<string>犯罪记录</string>
		<string>犯罪记录</string>
		<string>犯罪記錄</string>
	</array>
	<key>专长</key>
	<array>
		<string>专长</string>
		<string>专长</string>
		<string>專長</string>
	</array>
	<key>能操语言</key>
	<array>
		<string>能操语言</string>
		<string>能操语言</string>
		<string>能操語言</string>
	</array>
	<key>上传资料</key>
	<array>
		<string>上传资料</string>
		<string>上传资料</string>
		<string>上傳資料</string>
	</array>
	<key>就读年级</key>
	<array>
		<string>就读年級</string>
		<string>就读年級</string>
		<string>就讀年級</string>
	</array>
	<key>就读学校</key>
	<array>
		<string>就读学校</string>
		<string>就读学校</string>
		<string>就讀學校</string>
	</array>
	<key>电邮</key>
	<array>
		<string>邮箱</string>
		<string>电邮</string>
		<string>電郵</string>
	</array>
	<key>香港身份证号码</key>
	<array>
		<string>香港身份证号码</string>
		<string>香港身份證號碼</string>
		<string>香港身份證號碼</string>
	</array>
	<key>住址</key>
	<array>
		<string>住址</string>
		<string>住址</string>
		<string>住址</string>
	</array>
	<key>年龄</key>
	<array>
		<string>年龄</string>
		<string>年齡</string>
		<string>年齡</string>
	</array>
	<key>英文名</key>
	<array>
		<string>英文名</string>
		<string>英文名</string>
		<string>英文名</string>
	</array>
	<key>中文名</key>
	<array>
		<string>中文名</string>
		<string>中文名</string>
		<string>中文名</string>
	</array>
	<key>课程表</key>
	<array>
		<string>课程表</string>
		<string>课程表</string>
		<string>課程表</string>
	</array>
	<key>可选课程</key>
	<array>
		<string>可选课程</string>
		<string>可选课程</string>
		<string>可選課程</string>
	</array>
	<key>重新定位</key>
	<array>
		<string>重新定位</string>
		<string>重新定位</string>
		<string>重新定位</string>
	</array>
	<key>选择上课地址</key>
	<array>
		<string>选择上课地址</string>
		<string>选择上课地址</string>
		<string>選擇上課地址</string>
	</array>
	<key>明星教师</key>
	<array>
		<string>明星教师</string>
		<string>明星教师</string>
		<string>明星教師</string>
	</array>
	<key>亲还没有预约</key>
	<array>
		<string>亲，还没有预约..</string>
		<string>親，還沒有預約..</string>
		<string>親，還沒有預約..</string>
	</array>
	<key>请选择您要预约的课程</key>
	<array>
		<string>      请选择您要预约的课程</string>
		<string>      請選擇您要預約的課程</string>
		<string>      請選擇您要預約的課程</string>
	</array>
	<key>查看详情</key>
	<array>
		<string>查看详情</string>
		<string>查看详情</string>
		<string>查看詳情</string>
	</array>
	<key>预约</key>
	<array>
		<string>预约</string>
		<string>预约</string>
		<string>預約</string>
	</array>
	<key>保存</key>
	<array>
		<string>保存</string>
		<string>保存</string>
		<string>保存</string>
	</array>
	<key>教育经验</key>
	<array>
		<string>教育經歷</string>
		<string>教育經歷</string>
		<string>教育經歷</string>
	</array>
	<key>老师列表</key>
	<array>
		<string>老師列表</string>
		<string>老師列表</string>
		<string>老師列表</string>
	</array>
	<key>完成</key>
	<array>
		<string>完成</string>
		<string>完成</string>
		<string>完成</string>
	</array>
	<key>下一步</key>
	<array>
		<string>下一步</string>
		<string>下一步</string>
		<string>下一步</string>
	</array>
	<key>自我介绍</key>
	<array>
		<string>自我介绍</string>
		<string>自我介绍</string>
		<string>自我介紹</string>
	</array>
	<key>其他/奖项</key>
	<array>
		<string>其他/奖项</string>
		<string>其他/奖项</string>
		<string>其他/獎項</string>
	</array>
	<key>个人学历</key>
	<array>
		<string>个人学历</string>
		<string>个人学历</string>
		<string>個人學歷</string>
	</array>
	<key>基本信息</key>
	<array>
		<string>基本信息</string>
		<string>基本信息</string>
		<string>基本信息</string>
	</array>
	<key>收入</key>
	<array>
		<string>收入</string>
		<string>收入</string>
		<string>收入</string>
	</array>
	<key>声明及条款</key>
	<array>
		<string>声明及条款</string>
		<string>声明及条款</string>
		<string>聲明及條款</string>
	</array>
	<key>设置</key>
	<array>
		<string>设置</string>
		<string>设置</string>
		<string>设置</string>
	</array>
	<key>支付</key>
	<array>
		<string>支付</string>
		<string>支付</string>
		<string>支付</string>
	</array>
	<key>客服</key>
	<array>
		<string>客服</string>
		<string>客服</string>
		<string>客服</string>
	</array>
	<key>已登录</key>
	<array>
		<string>已登录</string>
		<string>已登录</string>
		<string>已登录</string>
	</array>
	<key>hi~您还未登录\n去登录&gt;</key>
	<array>
		<string>hi~您还未登录去登录&gt;</string>
		<string>hi~您还未登录去登录&gt;</string>
		<string>hi~您还未登录去登录&gt;</string>
	</array>
	<key>学生</key>
	<array>
		<string>学生</string>
		<string>学生</string>
		<string>學生</string>
	</array>
	<key>您是</key>
	<array>
		<string>您是</string>
		<string>您是</string>
		<string>您是</string>
	</array>
	<key>1秒让YE更了解您</key>
	<array>
		<string>1秒让YE更了解您</string>
		<string>1秒让YE更了解您</string>
		<string>1秒讓YE更了解您</string>
	</array>
	<key>选择身份</key>
	<array>
		<string>选择身份</string>
		<string>选择身份</string>
		<string>選擇身份</string>
	</array>
	<key>去支付</key>
	<array>
		<string>去支付</string>
		<string>去支付</string>
		<string>去支付</string>
	</array>
	<key>去预约</key>
	<array>
		<string>去预约</string>
		<string>去预约</string>
		<string>去預約</string>
	</array>
	<key>列表</key>
	<array>
		<string>列表</string>
		<string>列表</string>
		<string>列表</string>
	</array>
	<key>地图</key>
	<array>
		<string>地图</string>
		<string>地图</string>
		<string>地圖</string>
	</array>
	<key>排序</key>
	<array>
		<string>排序</string>
		<string>排序</string>
		<string>排序</string>
	</array>
	<key>确认</key>
	<array>
		<string>确认</string>
		<string>确认</string>
		<string>確認</string>
	</array>
	<key>清空</key>
	<array>
		<string>清空</string>
		<string>清空</string>
		<string>清空</string>
	</array>
	<key>选择时间</key>
	<array>
		<string>选择时间</string>
		<string>选择时间</string>
		<string>選擇時間</string>
	</array>
	<key>搜索</key>
	<array>
		<string>搜索</string>
		<string>搜索</string>
		<string>搜索</string>
	</array>
	<key>我已阅读并理解</key>
	<array>
		<string>我已阅读并理解</string>
		<string>我已阅读并理解</string>
		<string>我已閱讀并理解</string>
	</array>
	<key>取消</key>
	<array>
		<string>取消</string>
		<string>取消</string>
		<string>取消</string>
	</array>
	<key>重新发送验证码</key>
	<array>
		<string>重新发送验证码</string>
		<string>重新发送验证码</string>
		<string>重新發送驗證碼</string>
	</array>
	<key>发送验证码</key>
	<array>
		<string>发送验证码</string>
		<string>发送验证码</string>
		<string>發送驗證碼</string>
	</array>
	<key>请输入四位数验证码</key>
	<array>
		<string>请输入四位数验证码</string>
		<string>请输入四位数验证码</string>
		<string>請輸入四位數驗證碼</string>
	</array>
	<key>注册</key>
	<array>
		<string>注册</string>
		<string>注册</string>
		<string>註冊</string>
	</array>
	<key>手机号码不合法</key>
	<array>
		<string>手机号码不合法</string>
		<string>手机号码不合法</string>
		<string>手機號碼不合法</string>
	</array>
	<key>我要注册账号</key>
	<array>
		<string>我要注册账号</string>
		<string>我要注册账号</string>
		<string>我要註冊賬號</string>
	</array>
	<key>忘记密码</key>
	<array>
		<string>忘记密码</string>
		<string>忘记密码</string>
		<string>忘記密碼</string>
	</array>
	<key>密码</key>
	<array>
		<string>密码</string>
		<string>密码</string>
		<string>密碼</string>
	</array>
	<key>电话号码</key>
	<array>
		<string>电话号码</string>
		<string>电话号码</string>
		<string>電話號碼</string>
	</array>
	<key>登录</key>
	<array>
		<string>登錄</string>
		<string>登錄</string>
		<string>登錄</string>
	</array>
	<key>我的课程</key>
	<array>
		<string>我的課程</string>
		<string>我的課程</string>
		<string>我的課程</string>
	</array>
	<key>客服中心</key>
	<array>
		<string>客服中心</string>
		<string>客服中心</string>
		<string>客服中心</string>
	</array>
	<key>消息</key>
	<array>
		<string>消息</string>
		<string>消息</string>
		<string>消息</string>
	</array>
	<key>我的预约</key>
	<array>
		<string>我的预约</string>
		<string>我的預約</string>
		<string>我的預約</string>
	</array>
	<key>中文</key>
	<array>
		<string>中文</string>
		<string>chinese</string>
		<string>中文</string>
	</array>
	<key>老师</key>
	<array>
		<string>老师</string>
		<string>teacher</string>
		<string>老師</string>
	</array>
	<key>新西兰</key>
	<array>
		<string>新西兰</string>
		<string>New Zealand</string>
		<string>新西蘭</string>
	</array>
	<key>中国</key>
	<array>
		<string>中国</string>
		<string>china</string>
		<string>中國</string>
	</array>
</dict>
</plist>
